{% extends 'layout.html' %}

{% block content %}
<h2>Add Expense</h2>
<div class="content-box">
    <form method="post">
        <label for="service">Service:</label>
        <input type="text" name="service" id="service" required>
        <br />
        <label for="price">Cost:</label>
        <input type="number" name="price" id="price" required>
        <br />
        <label for="paid">Paid:</label>
        <input type="number" name="paid" id="paid" required>
        <button type="submit">Add Expense</button>
        <a href="{{ url_for('expenses') }}">Cancel</a>
    </form>
</div>
{% endblock %}