{% extends 'layout.html' %}

{% block content %}
<div class="content-box">
    <h2>💰 Budget Overview</h2>

    <h3>🏨 Services </h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Menu Price</th>
        </tr>
        {% for s in services %}
        <tr>
            <td>{{ s.name }}</td>
            <td>€{{ s.menu_price }}</td>
        </tr>
        {% endfor %}
    </table>
    <p><strong>Total Services Cost:</strong> €{{ service_total }}</p>

    <h3>📦 Other Expenses</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        {% for e in expenses %}
        <tr>
            <td>{{ e.name }}</td>
            <td>€{{ e.price }}</td>
        </tr>
        {% endfor %}
    </table>
    <p><strong>Total Other Expenses:</strong> €{{ other_total }}</p>


    <hr>
    <h2>💸 Grand Total: €{{ grand_total }}</h2>

    <a href="{{ url_for('home') }}">⬅️ Back to Home</a>
</div>
{% endblock %}
